
* {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	background: rgb(22, 11, 11)  no-repeat fixed center;	/* background-color:pink; */
	overflow-x: hidden;

}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(201, 157, 238);
	color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	position: fixed;
	width: 100%;
	z-index: 999;
	height: 85px;
}

 
.navbar .logo img {
	cursor: pointer;
	margin-left: 30%;
	width: 110px;
	height: 110px;

}


.logo:hover {
	opacity: 0.75;
	color: white;

}

.navbar-links ul {
	margin-right: 100px;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;

}

.navbar-links li a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 1rem;
	display: block;
	transition: color .4s;
	-webkit-transition:  color .4s;
}

.navbar-links li a:hover {
	color: rgb(237, 206, 247);
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bars {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}
/* responsibe media query start */
@media (max-width: 600px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		margin: 0;
		display: none;
		width: 100%;
		background-color: rgb(201, 157, 238);
	}

	.add-overflow {
		overflow-x: hidden;
	}

	.navbar {
		flex-direction: column;
		/*align-items: flex-start;*/
	}

	.navbar .logo img {
		margin: auto;
		width: 81px;
		height: 81px;
		
	}

	.navbar-links ul {
		margin: 0;
		width: 100%;
		flex-direction: column;
	}

	.list-item:hover {
		background-color: pink;
	}

	.list-item:after {
		background: transparent !important;
	}

	.list-item:hover:after {
		background: transparent !important;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: .5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}

	.about .about-img {
		margin: auto;
	}


}

@media (max-width: 1104px) {
	.home .max-width{

		margin-left: 0px;

	}
}


.list-item {
	position: relative;
}


.list-item:after {
	content: '';
	position: absolute;
	width: 0;
	height: 2.5px;
	display: block;
	margin-top: 5px;
	right: 0;
	/* background:  pink; */
	transition: width .4s ease;
	-webkit-transition:  width .4s ease;

}

.list-item:hover:after {
	width: 100%;
	left:  0;
	background:rgb(237, 206, 247);
}


/* home section styling */

.home { 
	display:flex;
	height: 100vh; 
	background-size:cover;
    background-position: center;
	background-attachment: fixed;
	color: #fff; 
	min-height: 500px ;
	font-family: 'Ubuntu', sans-serif ;
	padding-top: 200px;
	

}

.home-content{

	display: flex;

}
.home .max-width {

margin: auto 0 auto 40px ;	

}

.home .home-content .text-1 { 

	font-size: 40px; 

}

.home .home-content .text-2 { 

	font-size: 40px;
	font-weight: 600; 
	margin-left: -3px;
	display: flex;
}


.home .home-content a{

	display: inline-flex; 
	background-color:rgb(201, 157, 238);
	color:white; 
	font-size:25px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid #9a61b4;
	transition: all 0.3 ease; 
	text-decoration: none;


}

#arcspace {
	font-family: 'Waiting for the Sunrise', cursive; 
  	font-size:50px;
	color: rgb(201, 157, 238);
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .05em solid rgb(201, 157, 238); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto 0 0; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 59% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: rgb(201, 157, 238); }
  }


.home .home-content .text-3 { 
	
	font-size: 40px; 
	margin: 5px 0; 

}

.column-right .home-img{

object-fit: fill;
width: auto;
height: auto;
margin-left: 140px;


}





@media (max-width:690) {

	.home .home-content a{

		font-size: 2px;
		padding: 10px 30px; 
	}

	.home .home-content .text-3{
		font-size: 32px;
	}
	.home .home-content .text-2{
		font-size: 32px;
	
	}
	.home .home-content .text-1{
		font-size: 32px;
	
	}
	.max-width{
		padding: 0 23px;
	}

}


@media (max-width: 500px) {

	.home .home-content .text-2{
		font-size: 32px;
	}

	.home .home-content .text-3{
		font-size: 32px;
	}
}

@media (max-width: 540px) {
	#arcspace {
		font-size: 32px;
	}

	.home {
		margin-right: 12px;
	}
}

@media (max-width: 400px) {
	#arcspace {
		font-size: 25px;
	}
}
	

.home .home-content a:hover{

 
background: rgb(223, 196, 245);
border: 2px solid rgb(201, 157, 238);

}


/* about section start */

.section {
	padding: 100px 0;
}

.about{
	font-family: 'Poppins', sans-serif;
	width: 100%;
	 
	
}

.about .title {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom:10px;
	padding-bottom: 10px;
	font-family: 'Ubuntu' , sans-serif;
	background-color: none;
	color: rgb(201, 157, 238);
	border-top-style: solid;
	padding-top: 20px;
}

.about .sub-title {
	position: relative;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	margin-bottom:60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu' , sans-serif;
	background-color: none;
	color: rgb(201, 157, 238);
}


.about .about-img {
	margin-left: 50px;
	width: 90%;
}

.max-width {
	width: 100%;
}

 .about .about-content{

	display:flex;  
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
} 

 .about .about-content .left{

	width: 45%;

}


.about .about-content .right{

	width: 55%;
	


} 
.about .about-content .right .top{


	border-style: solid;
	border-color: rgb(201, 157, 238);
	padding: 30px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.61);
	backdrop-filter: blur(5px);
	

} 

 .about .about-content .right .text{

font-size: 25px; 
font-weight: 600;
margin-bottom: 10px;
color: rgb(201, 157, 238);

} 

 .about .about-content .right .text span{

color:rgb(201, 157, 238);

}

.about .about-content .right .p{

text-align: justify;

}

.about .about-content .right .a{

	display: inline-block; 
	background: #f085e1;
	color: rgb(192, 30, 30); 
	font-size:20px;
	padding: 1px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid #b1d1fc;
	transition: all 0.3 ease; 

	}


.color{
	color: rgb(201, 157, 238);
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
	
} 


@media (max-width: 1104px) {
	.about .about-content {
		display: block;
	}

	.about .about-img {
		margin: 20px auto;
	}

	.about .left {
		margin: 0 auto;
		width: 90%!important;
	}

	.about .right {
		margin: 20px auto;
		width: 90%!important;
	}

	.about .sub-title {
		margin-bottom: 30px;
	}
}



footer{
	background:black; 
	opacity:0.6;
	height:auto; 
	width:100%; 
	font-family: "Open Sans";
	padding-top:30px;
	color:#fff; 
	box-shadow: black;

	 
}

.footer-content{
	display:flex;
	align-items: center; 
	justify-content: center; 
	flex-direction: column;
	text-align: center; 
	 

}

.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;


}

.footer-content p{
	 max-width: 50%;
	 margin: 10px auto; 
	 line-height: 28px;
	 font-size: 14px;

}

.socials{
	list-style: none;
	display: flex;
	align-items: center; 
	justify-content: center;
	margin: 1rem 0 rem 3 rem 0; 

}

.socials li{
	margin: 0 10px; 

}

.socials a{
	text-decoration: none;
	color: #fff; 

}

.socials a i{
	font-size: 1.1rem; 
	transition: color .4s ease; 


}

.socials a:hover i {
	color: rgb(201, 157, 238); 
}

.footer-bottom{
	text-align: center;

}





	










